<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cocoaguard.cocoaguard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cocoa_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.FungicideActivity"
            android:label="@string/title_activity_fungicide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.PesticideActivity"
            android:label="@string/title_activity_pesticide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.DiseasesActivity"
            android:label="@string/title_activity_diseases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.CostEstimatorActivity"
            android:label="@string/title_activity_cost_estimator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.FertilizerActivity"
            android:label="Fertilizer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".description.FertilizerDescription"
            android:label="@string/title_activity_fertilizer_description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.SocialMediaActivity"
            android:label="@string/title_activity_social_media"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>